<div class="columns mt-6 is-centered">
 <% @manage.each do |user| %>
  <div class="column is-one-quarter">
    <div class="card">
      <% if user.avatar.attached? %>
      <%= image_tag(user.avatar) %>
      <% end %>
      <header class="card-header">
        <p class="card-header-title is-size-6"> Trainee number : <%= user.id%></p>
      </header>
      <div class="card-content">
        <div class="content">  
          <p><span class = "has-text-weight-bold is-size-8">Name : <%= user.name %> </p></span>
        </div>
      </div>  
     <div class="card-footer">  
      
        <%= link_to 'More', manage_path(user), class: "card-footer-item button is-primary is-small" %>

      </div>
    </div>
  </div>  
 <% end %>
</div>

