  <!-- About -->
  <section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2">About Joe Wicks</h3>
      <h4 class="subtitle is-5">Joe Wick is a Qualified Fitness Trainer</h4>
      <div class="mt-4 mb-6 container">
        
        <p class="has-text-weight-bold is-size-6 is-family-sans-serif">Joseph Trevor Wicks MBE also known as The Body Coach,<br> is a British fitness coach, TV presenter and author. His fitness method uses short intense High Intensity Interval Training workouts. Starting off by posting 15-second recipe videos on social media Wicks grew his brand to become one of the most followed fitness accounts on Instagram and YouTube. </p>
        
      </div>
    </div>

    <div class="columns has-same-height is-gapless">
      <div class="column">
        <!-- Profile -->
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Profile</h3>

            <div class="content">
              <table class="table-profile">
                <tr>
                  <th colspan="1"></th>
                  <th colspan="2"></th>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td>XXXXX</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>XXXXXXXX</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>XXXXXXXXXXX</td>
                </tr>
              </table>
            </div>
            <br>
            <div class="buttons has-addons is-centered">
              <a href="#" class="button is-link">Twitter</a>
              <a href="#" class="button is-link">Instagram</a>
              <a href="#" class="button is-link">Youtube</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Profile picture -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag("Joe-Wicks.jpg") %>
            </figure>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Skills -->
        <div class="card">
          <div class="card-content skills-content">
            <h3 class="title is-4">Skills</h3>
            <div class="content">

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Creating Exercise Programs :</strong>
                      <br>
                      <progress class="progress is-primary" value="90" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Yoga:</strong>
                      <br>
                      <progress class="progress is-primary" value="90" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Weight Training :</strong>
                      <br>
                      <progress class="progress is-primary" value="85" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Interpersonal Skills :</strong>
                      <br>
                      <progress class="progress is-primary" value="95" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Fitness Assessment :</strong>
                      <br>
                      <progress class="progress is-primary" value="86" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="services">
    <div class="section-heading">
      <h3 class="title is-2">Services</h3>
      <h4 class="subtitle is-5">What can I do for you?</h4>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Weight Training</h4>
              Weight training is a common type of strength training for developing the strength and size of skeletal muscles.[2] It utilizes the force of gravity in the form of weighted bars, dumbbells or weight stacks.

            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Creating Exercise programs</h4>
              I’m gonna help build you a custom workout program, step-by-step! 

              After all, a workout should be developed around a person’s age, goals, nutritional strategy, free time, etc.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Diet Plan</h4>
              One of the best ways to achieve goal weight is by changing your diet.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Exercise Techqniues</h4>
              Experts say there is no magic to exercise: You get out of it what you put in. That doesn't mean you have to work out for hours each day. It just means you need to work smart.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

